@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@tailwind utilities;

@layer base {
  html {
    font-family: 'Pinyon Script', cursive;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: rgb(126, 87, 87);
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .font-extrabold {
    font-weight: 900;
    text-shadow: 0px 0px 1px black;
  }
}
